[submodule "MOM6"]
  path = MOM6
  url = https://github.com/NCAR/MOM6.git
  fxDONOTUSEurl = https://github.com/NCAR/MOM6.git
    fxtag = dev/ncar_240909
    fxrequired = AlwaysRequired

[submodule "stochastic_physics"]
  path = externals/stochastic_physics
  url = https://github.com/iangrooms/stochastic_physics.git
  fxDONOTUSEurl = https://github.com/iangrooms/stochastic_physics.git
    fxtag = ocn_skeb_240807
    fxrequired = AlwaysRequired

[submodule "MARBL"]
  path = externals/MARBL
  url = https://github.com/marbl-ecosys/MARBL.git
  fxDONOTUSEurl = https://github.com/marbl-ecosys/MARBL.git
    fxtag = marbl0.47.0
    fxrequired = AlwaysRequired

